@model Minutas.Models.Departamento

@{
    Layout = "_LayoutAdmin";
}

<form method="post" asp-action="Agregar">
    <h3>Crear Departamento</h3>
    <div>
        <label>Nombre</label>
        <input type="text" name="Nombre" placeholder="Escribir..." value="@Model.Nombre" required /><br>

        <label>Jefe de Departamento</label>
        <input type="number" name="IdJefe" placeholder="Escribir..." value="@Model.IdJefe" required /><br>

        <label>Miembros</label>
        <select name="IdDeptSuperior">
            @foreach (var u in Model.Usuarios)
            {
                <option value="@u.Id">@u.Nombre</option>
            }
        </select><br>

        <label>Estado</label>
        <select name="Activo">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select><br>

        <input type="submit" value="Confirmar" />
        <a href="Index"><input type="button" value="Cancelar"></a>
    </div>
</form>