
@model Minutas.Models.Departamento

@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<form>
    <h3>Crear Departamento</h3>
    <div>

        <label>Nombre</label>
        <input type="text" placeholder="Escribir..."><br>
        <label>Jefe de Departamento</label>
        <input type="text" placeholder="Escribir..."><br>
        <label>Miembros</label>
        <select>
            <option>juanita</option>
            <option>juanita</option>
            <option>juanita</option>
            <option>juanita</option>
            <option>juanita</option>
            <option>juanita</option>
        </select><br>
        <label>Estado</label>
        <select>
            <option>Activo</option>
            <option>Inactivo</option>
        </select><br>
        <a href="Departamentos.html"><input type="button" value="Confirmar"></a>
        <a href="Departamentos.html"><input type="button" value="Cancelar"></a>
    </div>
</form>