@model IEnumerable<Minutas.Models.Departamento>

@{
    Layout = "_LayoutAdmin";
}

<nav>

</nav>
<a id="depto" href="~/Admin/Departamento/Agregar">
    <input type="button" value="Crear">
</a>
<table>
    <tr>
        <th>Superior</th>
        <th>Departamento</th>
        <th>Estado</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var departamento in Model)
    {
        <tr>
            <td>@departamento.IdDeptSuperior</td>
            <td>@departamento.Nombre</td>
            <td>@(departamento.Activo.HasValue && departamento.Activo.Value ? "Activo" : "Inactivo")</td>
            <td id="eliminar">🗑</td>
            <td><a href="editarDepto.html">🖉</a></td>
        </tr>
    }
</table>
<div id="modal">
    <div>
        <label>¿Desea dar una baja lógica a este departamento?</label><br>
        <input type="button" value="Si">
        <input type="button" value="No">
    </div>
</div>