@{
    Layout = "_LayoutAdmin";
}

<nav>
    <a href="~/Admin/Empleado">Empleados</a>
</nav>
<form>
    <h3>Dar de alta empleado</h3>
    <label>Nombre completo:</label>
    <input type="text" placeholder="Escribir..."><br>
    <label>Correo electronico:</label>
    <input type="text" placeholder="Escribir..."><br>
    <label>Departamento:</label>
    <select>
        <option>Sistemas</option>
        <option>Vinculación</option>
        <option>Planeación</option>
        <option>Administración</option>
        <option>Industrial</option>
        <option>Coordinación</option>
    </select>
    <label>Número de empleado:</label>
    <input type="number" placeholder="Escribir..."><br>
    <label>Contraseña</label>
    <input type="password" placeholder="Escribir..."><br>

    <a href="adminEmpleados.html"><input type="button" value="Confirmar"></a>
</form>