@model MinutasManage.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="style.css"> -->

    <style>

        :root {
            --primary-color: #1D5371;
            --secondary-color: #185C53;
            --text-color: #333;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        body {
            width: 100dvw;
            height: 100dvh;
            padding: 0px;
        }
        /*ete*/
        .login-container h2 {
            text-align: center;
            background-color: var(--secondary-color);
            color: white;
            padding: 10px;
            height:130px;
            line-height:7;
            border-radius: 5px 5px 0 0;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 15px;
        }

            form input[type="submit"] {
                background-color: var(--secondary-color);
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
            }

        .form-group {
            display: flex;
            flex-direction: column;
        }

            .form-group label {
                margin-bottom: 5px;
                color: var(--text-color);
            }

            .form-group input {
                padding: 10px;
                border: 1px solid var(--text-color);
                border-radius: 5px;
                font-size: 16px;
            }

                .form-group input:focus {
                    border-color: var(--secondary-color);
                    outline: none;
                }

                .form-group input[type="text"],
                .form-group input[type="password"] {
                    border-color: #cfcfcf;
                }

        .login-container {
            padding: 0px;
            width: 90%;
            max-width: 500px;
            background-color: white;
            border-radius: 10px 10px 5px 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .modal {
            display: none; /* Hidden by default */
            padding: 0px;
            width: 90%;
            max-width: 500px;
            background-color: white;
            border-radius: 10px 10px 5px 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }



        img{
            height: 20vh;
            translate: 0px 50px;
        }


















        body {
            background: linear-gradient(to right, var(--primary-color),#0c302b);
            align-content: center;
            justify-items: center;
        }

    </style>
</head>
<body>





    <img src="~/Modifi/logotec (weld).png" />
    <div class="login-container">
        <h2>Sistema de Gestión de Minutas</h2>
        <form action="/Account/login" method="POST">
            <div class="form-group">
                <input asp-for="Mail" type="text" id="username" placeholder="Número de control..." required>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" id="password" placeholder="Contraseña..." required>
            </div>
            <div class="form-group">
                <input type="submit" value="Login">

            </div>
        </form>




    </div>
</body>
</html>