@model MinutasManage.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlock Base</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main id="login">
        <div>
            <img src="logotec (weld).png">
            <form asp-action="Login" method="post">
                <h2>INICIAR SESIÓN</h2>
                <input asp-for="Mail" id="usuario" type="text" placeholder="Número de Control">
                <input asp-for="Password" type="password" placeholder="Contraseña">

                <input id="iniciarSesion" type="submit" value="Iniciar Sesión">
            </form>
        </div>
    </main>
</body>
</html>
<script>
    document.querySelector("#iniciarSesion").addEventListener("click", function() {
    let usuario = document.querySelector("#usuario").value.trim().toLowerCase();

        if (usuario == "admin") {
            window.location.href = "index.html";
        } else if (usuario == "empleado") {
            window.location.href = "indexEmpleado.html";
        }
    });

</script>