<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlock Base</title>
    <link rel="stylesheet" href="~/modif/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


</head>
<body>
    <header>
        <div id="titulo">
            <button class="menu">
                <img id="imgMenu" src="~/modif/588a64e0d06f6719692a2d10.png" alt="" srcset="">
            </button>
            <img src="~/modif/logotec (weld).png">
            <div>
                <h1>MINUTAS</h1>
                <p>Luis Carlos Longares Vidal</p>
            </div>
        </div>
        <div id="seccion">
            <input type="search" placeholder="">
            <i id="buscar" class="material-icons">search</i>
            <i id="crearMinutaBtn" class="material-icons">note_add</i>

        </div>




    </header>
    <div class="content">
        <aside class="sidebar">
            <a id="apartado-minutas" href="index.html">Minutas</a>
            <a id="apartado-empleados" href="Empleados.html">Empleados</a>
            <a id="apartado-departamentos" href="departamento.html">Departamentos</a>
            <a id="apartado-configuracion" href="configuracion.html">Configuracion</a>
            <a id="apartado-perfil" href="perfil.html">Perfil</a>


        </aside>
        <main>
        @RenderBody()
        </main>

    </div>
   
</body>
</html>