<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlock Base</title>
    <link rel="stylesheet" href="~/Modifi/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />


</head>
<body>
    <header>
        <div id="titulo">
            <button class="menu">
                <img id="imgMenu" src="~/Modifi/588a64e0d06f6719692a2d10.png" alt="" srcset="">
            </button>
            <img src="~/Modifi/logotec (weld).png">
            <div>
                <h1>MINUTAS</h1>
                <p>Luis Carlos Longares Vidal</p>
            </div>
        </div>
        <div id="seccion">
            <div id="rectangulo" class="oculto">
                <input id="buscador" type="search" placeholder="Buscar minuta...">
                <ul>
                    <li><b>DDC18</b> - SISTEMAS - MINUTAS</li>
                    <li><b>DDC18</b> - SISTEMAS - MINUTAS</li>
                    <li><b>DDC18</b> - SISTEMAS - MINUTAS</li>
                </ul>
            </div>
            <i id="buscar" class="material-icons">search</i>
            <i id="crearMinutaBtn" class="material-icons">note_add</i>

        </div>

    </header>
  
       @RenderBody()
 
</body>
</html>