

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Proyecto/estilos.css">
</head>
<body>
    <header>
        <div id="titulo">
            <img src="~/Proyecto/halcon.png">
            <h1>MINUTAS</h1>
            <p>Dr. Luis Carlos Longares</p>
        </div>
        <div id="seccion">
            <input type="search" placeholder="&#x1F50E; Buscar...">
        </div>
    </header>
    <nav>
            <div>
                <a href="Index.html">Pendientes</a>
            </div>
           <div>
                <a href="minutasFirmadas.html">Firmadas</a>
           </div>
            <div>
                <a href="minutasGuardadas.html">Guardadas</a>
            </div>
        </nav>
    <aside>
        <div class="menu">
            <a href="CrearMinuta.html">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="menu">
            <a href="Index.html">
                <i class="material-icons">menu</i>
                <p>Minutas</p>
            </a>
        </div>
        <div class="menu">
            <a href="~/Admin/Empleado">
                <i class="material-icons">person</i>
                <p>Empleados</p>
            </a>
        </div>
        <div class="menu">
            <a href="~/Admin/Departamento">
                <i class="material-icons">group</i>
                <p>Departamentos</p>
            </a>
        </div>
        <div class="menu">
            <a href="">
                <i class="material-icons">person</i><br>
                <p>Perfil</p>
            </a>
        </div>
    </aside>

    <main>
        @RenderBody()
    </main>
</body>
</html>