

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Proyecto/estilos.css">
</head>
<body>
    <header>
        <div id="titulo">
            <img src="halcon.png">
            <h1>MINUTAS ACADEMICAS</h1>
        </div>
        <div id="seccion">
            <input type="search" placeholder="&#x1F50E; Buscar...">
        </div>
    </header>
    <aside>
        <div id="menu">
            <i class="material-icons">menu</i>
            <a href="Index.html">Minutas</a>
        </div>
        <div id="menu">
            <i class="material-icons">mood</i>
            <a href="adminEmpleados.html">Empleados</a>
        </div>
        <div id="menu">
            <i class="material-icons">groups</i>
            <a href="~/Admin/Departamento">Departamentos</a>
        </div>
        <div id="menu">
            <i class="material-icons">person</i>
            <a href="">Perfil</a>
        </div>
    </aside>

    <main>
        @RenderBody()
    </main>
</body>
</html>