<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outlock Base</title>
    <link rel="stylesheet" href="~/Modifi/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <div id="titulo">
            <button class="menu">
                <img id="imgMenu" src="~/Modifi/588a64e0d06f6719692a2d10.png" alt="" srcset="">
            </button>
            <img src="~/Modifi/logotec (weld).png">
            <div>
                <h1>MINUTAS</h1>
                <p>Mario Esteban Longares Cervantes</p>
            </div>
        </div>
        <div id="seccion">
            <input type="search" placeholder="">
            <i id="buscar" class="material-icons">search</i>
        </div>
    </header>
    <div class="content">
        <aside class="sidebar">
            <a id="apartado-minutas" href="/Home">Minutas</a>
            <a id="apartado-perfil" href="/Perfil">Perfil</a>
            <a id="apartado-sesion" href="/login.html">Cerrar Sesión</a>
        </aside>
        <main>
            <form id="perfil">
                <h3><span>#4455 </span>EMPLEADO <a id="btnEditarPerfil" class="material-icons">edit</a></h3>
                <div>
                    <label>Departamento</label>
                    <input type="text" value="Recursos Humanos" disabled>
                    <label>Nombre</label>
                    <input type="text" value="Mario Esteban Longares Cervantes" disabled>
                    <label>Correo Electrónico</label>
                    <input type="text" value="lglv@rcarbonifera.tecnm.mx" disabled>
                    <label>Fecha de Nacimiento</label>
                    <input type="datetime" placeholder="02/03/80" disabled>
                    <label>Contraseña</label>
                    <input type="password" value="contraseña" disabled>
                </div>
            </form>

            <!--Editar perfil-->
            <div id="modalEditarPerfil" class="modal">
                <form>
                    <h3>Editar Perfil</h3>
                    <div>
                        <div>
                            <label>Nombre</label>
                            <input type="text" value="Luis Carlos Longares Vidal">
                        </div>
                        <div>
                            <label>Correo Electronico</label>
                            <input type="text" value="lglv@rcarbonifera.tecnm.mx">
                        </div>
                        <div>
                            <label>Fecha de Nacimiento</label>
                            <input type="datetime" placeholder="02/03/85" disabled>
                        </div>
                        <div>
                            <label>Contraseña</label>
                            <input type="password" value="contraseña">
                        </div>

                    </div><br>
                    <div class="buttons">
                        <input type="button" value="Cancelar">
                        <input type="button" value="Guardar cambios">
                    </div>

                </form>
            </div>
        </main>
    </div>
    <script>
          const menu = document.querySelector('.menu');
          const sidebar = document.querySelector('.sidebar');
          const header =document.querySelector("header");
          const modEditPerfil =  document.querySelector("#modalEditarPerfil");

            // editar perfil
            document.querySelector("#btnEditarPerfil").addEventListener("click", function(){
                modEditPerfil.style.display="block";
            });
            // cerrar perfil
            modEditPerfil.addEventListener("click", function(e){
                if (e.target.tagName === "INPUT" && (e.target.value === "Cancelar" || e.target.value === "Guardar cambios")) {
                    modEditPerfil.style.display = "none";
                }
            });

        
          document.querySelector("#buscar").addEventListener("click",function (){
              console.log("sdfgh");
              header.classList.toggle("buscar");
          })
          //Sidebar
          menu.addEventListener('click', () => {
              sidebar.classList.toggle('active');
          });


          const agregar = document.querySelector("#agregar");
          sidebar.addEventListener("click", function(e){
              if(e.target.tagName == "I"){
                  agregar.style.visibility="visible";
              }

          });

          //Filtros
          let lasActiveCategory = null;
          const categorias=document.querySelector('.filtros div');
          categorias.addEventListener('click',function(e){
              if(lasActiveCategory){
                  lasActiveCategory.classList.remove('active');
              }
              lasActiveCategory=e.target;
              e.target.classList.toggle('active');
          });

          //CambioEnMovilDeminuta
          // const Lista=document.querySelector('.minutas-list');
          // const minutasContent=document.querySelector('.minuta-content');
          // const minutas=document.querySelector('.minutas');

          // minutas.addEventListener('click',(e)=>{
          //     if(!e.target.classList.contains('filtros') && !e.target.parentElement.parentElement.classList.contains('filtros')  && !e.target.parentElement.classList.contains('filtros')){

          //         minutasContent.classList.toggle('active');
          //         console.log(e.target.parentElement.classList.contains('filtros'));
          //         Lista.classList.toggle('inactive');
          //     }
          // });




          history.pushState(null, "", location.href);

          window.addEventListener("popstate", function () {
              Lista.classList.toggle('inactive');
          console.log("Intento de salir con botón de retroceso");
          history.pushState(null, "", location.href); // Reagrega el estado para evitar la salida
          });



          document.addEventListener("click", function (event) {
        //      if (!minutasContent.contains(event.target) && !minutas.contains(event.target)) {
          //        minutasContent.classList.remove('active');
            //      minutas.classList.remove('inactive');
              //}
              if (!sidebar.contains(event.target ) && !menu.contains(event.target)) {
                  if (sidebar.classList.contains('active')) {
                      sidebar.classList.remove('active');
              console.log('click en sidebar');

                  }
              }
          });
          // mostrar iconos segun la categoria
          const pendientes = document.querySelector("#minutas-pendientes");
          const firmadas = document.querySelector("#minutas-firmadas");
          const borradores = document.querySelector("#minutas-borradores");

          document.addEventListener("DOMContentLoaded", function () {
              pendientes.click();
          });
          pendientes.addEventListener("click", function () {
              actualizarIconos(0);
          });
          firmadas.addEventListener("click", function () {
              actualizarIconos(1);
          });
          borradores.addEventListener("click", function () {
              actualizarIconos(2);
          });
          function actualizarIconos(activo){
              document.querySelectorAll(".minuta").forEach(minuta => {
                  let icons = minuta.querySelectorAll("a");

                  icons.forEach((icon, index) => {
                      if (index === activo) {
                          icon.classList.add("active");
                          icon.style.opacity = "1";
                          icon.style.pointerEvents = "auto";
                      } else {
                          icon.classList.remove("active");
                          icon.style.opacity = "0";
                          icon.style.pointerEvents = "none";
                      }
                  });
              });
          }


          // document.getElementById("btnfiltros").addEventListener("click", function (e) {
          //     const filtrar = document.querySelector(".filtrar");
          //     e.target.classList.toggle("active");
          //     filtrar.classList.toggle("active");
          // });


    </script>
</body>
</html>