@{
    Layout = "_LayoutAdmin";
}
<div class="minutas-list">
    <div class="filtros">
        <div>
            <button id="minutas-pendientes">Pendientes</button>
            <button id="minutas-firmadas">Firmadas</button>
            <button id="minutas-borradores">Borradores</button>

        </div>


        <button id="btnfiltros">Filter</button>


    </div>
    <div class="filtrar">
        <form>

            <label>Departamento:</label>
            <select>
                <option>Sistemas</option>
                <option>Vinculación</option>
                <option>Planeación</option>
                <option>Administración</option>
                <option>Industrial</option>
                <option>Coordinación</option>
            </select>
            <label>Empleados:</label>
            <select>
                <option>Oscar</option>
                <option>Adriana</option>
                <option>Ernestina</option>
                <option>Hector</option>
            </select>
            <label>Desde:</label>
            <input type="date">
            <label>Hasta:</label>
            <input type="date">
        </form>
    </div>
    <div class="minutas">


        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>

        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>

        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>

        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
        <div class="minuta">
            <h3>DDSC-0231</h3>
            <div>
                <p> Por medio edlPor medio edlPor medio edl...</p>
                <a><i class="material-icons">draw</i></a>
                <a><i class="material-icons">delete</i></a>
                <a><i class="material-icons">edit</i></a>
            </div>
        </div>
    </div>
</div>
<div class="minuta-content">
    <h1>DDSC-0231</h1>

    <div>
        <p>
            <b>Objetivo:</b>Se reúnen los abajo firmantes con el objetivo de definir y aprobar las fechas clave del calendario
            académico para el año 2025, asegurando una adecuada planificación de actividades escolares.
        </p><br>
        <p>
            <b>Desarrollo de la reunión:</b>Se aprueba el calendario académico con los ajustes discutidos. Las fechas establecidas serán
            comunicadas oficialmente a la comunidad académica. Se programará una reunión de seguimiento en
            caso de requerir modificaciones.
        </p><br>
        <p>
            <b>Orden del día:</b>
            <ul>
                <li>Bienvenida y presentación del objetivo de la reunión</li>
                <li>Revisión del calendario académico propuesto para 2025</li>
                <li>Discusión sobre fechas clave (inicio y fin de clases, periodos de evaluación, vacaciones, etc.)</li>
                <li>Propuestas y ajustes necesarios</li>
                <li>Votación y aprobación del calendario</li>
                <li>Conclusiones y cierre de la reunión</li>
            </ul>
        </p><br>
        <p><b>Compromisos y tareas:</b> </p>
        <ul>
            <li>Se ha logrado una planificación estructurada del calendario académico 2025.</li>
            <li>
                Las fechas clave han sido definidas considerando la viabilidad y necesidades de la institución,
                se espera que la implementación del calendario facilite una mejor organización de las actividades
                escolares.
            </li>
        </ul><br>

        <p><b>Lista de asistentes:</b></p>
        <table>
            <th>Nombre</th>
            <th>Firma</th>
            <th>Nombre</th>
            <th>Firma</th>
            <td>
            <tr></tr>
            </td>
        </table>


        <div class="buttons">
            <input type="button" value="Cancelar">
            <input type="button" value="Firmar">
        </div>



    </div>
</div>
<div id="modalCrearMinuta" class="modal">
    <form>
        <h3>Crear Minuta</h3>
        <label>Objetivo</label>
        <textarea placeholder="Escribir..."></textarea><br>
        <label>Desarrollo de la reunión</label>
        <textarea placeholder="Escribir..."></textarea><br>
        <div>
            <label>Orden del día</label>
            <input type="text" placeholder="Escribir...">
            <input class="material-icons" type="button" value="add">
        </div>
        <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>

            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
        </ul>

        <div>
            <label>Compromisos y tareas</label>
            <input type="text" placeholder="Escribir...">
            <input class="material-icons" type="button" value="add">
        </div>
        <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
        </ul>

        <div>
            <label>Lista de asistentes</label>
            <input type="text" placeholder="Buscar...">
            <input class="material-icons" type="button" value="search">
        </div>
        <ul>
            <li>Sandra <button>X</button></li>
            <li>Eliza <button>X</button></li>
            <li>Jose <button>X</button></li>
        </ul>
        <div id="opciones">
            <label>Privada<input type="checkbox"></label>
            <input class="material-symbols-outlined" type="button" title="IA" value="wand_stars">
            <input class="buttons" type="button" value="Cancelar">
            <input class="buttons" type="button" value="Confirmar">
        </div>

    </form>
</div>

<!--editar minuta-->
<div id="modalEditarMinuta" class="modal">
    <form>
        <h3>Editar Minuta</h3>
        <label>Objetivo</label>
        <textarea placeholder="Escribir..."></textarea><br>
        <label>Desarrollo de la reunión</label>
        <textarea placeholder="Escribir..."></textarea><br>
        <div>
            <label>Orden del día</label>
            <input type="text" placeholder="Escribir...">
            <input class="material-icons" type="button" value="add">
        </div>
        <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>

            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
        </ul>

        <div>
            <label>Compromisos y tareas</label>
            <input type="text" placeholder="Escribir...">
            <input class="material-icons" type="button" value="add">
        </div>
        <ul>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting <button>X</button></li>
        </ul>

        <div>
            <label>Lista de asistentes</label>
            <input type="text" placeholder="Buscar...">
            <input class="material-icons" type="button" value="search">
        </div>
        <ul>
            <li>Sandra <button>X</button></li>
            <li>Eliza <button>X</button></li>
            <li>Jose <button>X</button></li>
        </ul>
        <div id="opciones">
            <label>Privada<input type="checkbox"></label>
            <input class="material-symbols-outlined" type="button" title="IA" value="wand_stars">
            <input class="buttons" type="button" value="Cancelar">
            <input class="buttons" type="button" value="Confirmar">
        </div>

    </form>
</div>


<!--Eliminar empleado-->
<div id="modalEliminarMinuta" class="modal">
    <form class="botonesForm">
        <label>¿Desea eliminar esta Minuta?</label><br>
        <input type="button" value="Si">
        <input type="button" value="No">
    </form>
</div>