@{
    Layout = "_LayoutAdmin";
}
<div id="filtro">
    <div>
        <label>Departamento</label><br>
        <select>
            <option value="" disabled selected>Seleccione</option>
            <option>1</option>
            <option>1</option>
        </select><br>
        <label>Empleado</label><br>
        <select>
            <option value="" disabled selected>Seleccione</option>
            <option>1</option>
            <option>1</option>
        </select><br>
        <label>Fecha Inicio</label><br>
        <select>
            <option value="" disabled selected>Seleccione</option>
            <option>2015</option>
            <option>2015</option>
        </select><br>
        <label>Fecha Final</label><br>
        <select>
            <option value="" disabled selected>Seleccione</option>
            <option>2024</option>
            <option>2025</option>
        </select><br>
        <label>Todos</label>
        <input type="checkbox" value="Incluido">
    </div>
</div>
<div id="minutas">
    <div class="minuta">
        <a href="vistaMinuta.html">
            <h3>Título</h3>
        </a>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025  </p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>


    </div>
    <div class="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>
    </div>
    <div class="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>
    </div>
    <div class="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>
    </div>
    <div class="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>
    </div>
    <div class="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <div>
            <a href="">
                <i class="material-icons">visibility</i>
            </a>
            <p>09/02/2025</p>
        </div>
    </div>
