@{
    Layout = "_LayoutAdmin";
}
<nav>
    <a href="">Pendientes</a>
    <a href="">Firmadas</a>
    <a href="">Guardadas</a>
    <a href="">Todas</a>
</nav>
<div id="minutas">
    <div id="minuta">
        <a href="vistaMinuta.html">
            <h3>Título</h3>
        </a>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>

    </div>
    <div id="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>
    </div>
    <div id="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>
    </div>
    <div id="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>
    </div>
    <div id="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>
    </div>
    <div id="minuta">
        <h3>Título</h3>
        <p>Revisión y Aprobación del Calendario Académico 2025</p>
        <h3>Objetivo:</h3>
        <p> Definir y aprobar las fechas clave del calendario académico para el año 2025...</p>
        <p>09/02/2025</p>
    </div>
</div>
