* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
  /*  background: linear-gradient(to right, #1D5371,#185C53);*/
}
body {
    font-family: Arial, sans-serif;
   width: 100%;
}
.content{
    display: flex;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}
header {
    width: 100%;
    height: 10vh;

    background-color: white;
    display: flex;
    justify-content: space-between;
   position: sticky;
    top: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 100;

}
#titulo{
    transition: all 1s;
    padding-left: 5px;
    width: 75vw;
    background-color: #1D5371;
    display: flex;    
    align-items: center;
    gap: 5px;
    background: linear-gradient(to right, #1D5371,#185C53);
    clip-path: polygon(0 0, 100% 0, calc(100% - 5vw) 100%, 0 100%);
}
#titulo img{
    width: 5vh;
    height: 5vh;
}
#imgMenu{
    padding: 1vh;
}

#titulo h1{
    color: white;
    font-size: 1.5rem;
}
#titulo p{
    text-wrap: nowrap;
    overflow: hidden;
    color: white;
    font-size: 0.7rem;
}
#titulo div{
    opacity: 1;
    transition: all 1s;
}
/*le puse el margin-right para el espacio*/
#seccion{
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
    margin-right: 10%;
}
#seccion input{
    transition: all 1s;
    background-color: #185C53;
    border: none;
    height: 5vh;
    width: 0px;
    padding: 0px;
    border-radius: 5px 0 0 5px;
    color: transparent;
}
/*y aca*/
#crearMinutaBtn{
    translate: 20px;
}
header.buscar #titulo{
    
   width: 25vw;
}

header.buscar #titulo div{
    opacity: 0;
}

header.buscar #seccion{
    width: 75vw;
}

header.buscar #seccion input{
 width: 50VW;
 background-color: white;
 color: #185C53;
    padding-left: 10px;
    border: 1px solid #185C53;
}
#seccion input::placeholder{
    color: white;
}
#seccion input:focus{
    border: none;
    outline: none;
}

header.buscar #seccion #buscar{
    transition: all 0s;
    transition-delay: 0s;
    border-radius: 0 25% 25% 0;
}
#buscar {
    transition: all 0.1s;
    transition-delay: 1s;
    
}


#seccion i{
    background-color: #185C53;
    color: white;
    width: 5vh;
    height: 5vh;
    text-align: center;
    align-content: center;
    margin-right: 10px;
    border-radius: 25%;
}
#seccion i:hover{
    background-color: #0e3a35;
    cursor: pointer;
}
.menu{
    background-color: transparent;
    border: none;
}

/*#1D5371,#185C53*/
.sidebar {
    height: 90vh;
    width: 0;
    background-color: #11384d;
    background: linear-gradient(to right, #1D5371,#185C53);
    overflow: hidden;
    transition: all 0.5s;
    z-index: 200;
   
}
.sidebar a{
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    text-wrap: nowrap;
    opacity: 0;
    transition: all 0.5s;
    text-align: left;
}

.sidebar.active {
    width: 15%;
    
}
.sidebar.active a {
    opacity: 1;
    transition: all 0.5s;
}

main {
    display: flex;
    height: 90vh;
    width: 100%;
  
    
}
.minutas-list {
    
    width: 400px;
    min-width: 400px;
    background-color: white;
   overflow-y: auto;
    
    gap: 2px;
    padding: 2px;
}
.filtros{
    width: 100%;
    height: 10%;
    background-color: #D9D9D9;
    color: #1D5371;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 5px;
    border-bottom: 1px solid white;
}
.filtros div{
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    display: flex;
    gap: 0px;
}
.filtros button{
    border-radius: 5px;
    overflow: hidden;
    background-color: #bbbbbb;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}
.filtros div button{
    border-radius: 0px;
}
.filtros div .active{
    background-color: #1D5371;
}

.filtrar{
    background-color: #bbbbbb;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    height: 0;
    transition: all 0.5s;
    overflow-y: hidden;

}
/*MODIFICADO*/
.filtrar.active{
    height: 370px;
}
.filtrar form{
    transition: all 1s;
   overflow-y: auto;

    opacity: 0;
}
.filtrar.active form{
    opacity: 1;
}

#btnfiltros.active{
    background-color: #185C53;
}
.minuta-content {
    width: 60%;
    background-color: white;
    overflow-y: auto;
    
    padding: 20px 30px;
    text-align: justify;

    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 20px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);



}
.minuta-content h1{
    text-align: center;
    padding: 30px;
    color: #222;
}
.minuta-content b{
    margin-right: 15px;
}
.minuta-content div{
    padding: 20px;
}
.minuta-content ul{
    margin-left: 40px;
}
/*CONFIG DE ENCABEZADOOO*/
.minuta-content img{
    width: 100%;
    margin: 0 auto;
}
.minuta-content img:hover{
    opacity: .5;
    cursor: pointer;
}
#minuta-config{
    width: 50vw;
}
/*tabla*/
table {
    
    background-color: #D9D9D9;
    width: 10%;
    height: 10px;
    box-sizing: border-box;
    margin: 30px auto;
    font-size: 15px;
    text-align: center;
    overflow: hidden;
}

    table th {
        background-color: #CDCBCB;
        background: red;
        color: #164057;
    }

    table tr {
        height: 20px;
    }

    table td:nth-child(4), table td:nth-child(5){
        font-size: 20px;
        color: #1D5371;
        cursor: pointer;
    }

.minuta{
    width: 100%;
    background-color: #D9D9D9;
    color: #1D5371;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid white;
    padding: 10px;    
}
.minuta:hover{
    background-color: #1D5371;
    color: white;
    cursor: pointer;
}
.minuta p{
    text-wrap: nowrap;
    overflow: hidden;
}
.minuta h3{
    text-wrap: nowrap;
    overflow: hidden;
}
.minuta div, #seccion div {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    /*width: 100%; */
    position: relative;
}
.minuta a, #seccion a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: absolute;
    pointer-events: none;
    right: 0;
}
/*botones cancelar y confirmar*/



/* Mostrar el ícono activo */
.minuta a.activo {
    opacity: 1;
    pointer-events: auto; 
}



/* Formularios*/


 /*departamentos*/
 #tablaDepto, #tablaEmplea{
    width: 80%;
}

/*fondo modal*/
.modal{
    width: 100%;
    left: auto;
    position: fixed;
    height: 90vh;
    background-color: rgba(135, 133, 133, 0.516);
    overflow-y: auto;
    display: flex;
    justify-items: center;
    padding: 0px;
}
/*modales, div para eliminar*/
.modal form{
    margin: 5vh auto 15vh auto;
    width: 70%;
    height: auto;
    justify-content: center;
    background-color: white;
    position: relative;
    display: flex ;
    flex-wrap: wrap;
    justify-content: start;

}
.modal form div{
}
.modal form div.buttons {
}



form input,  form select{
    background-color: white;

    width: 80%;
    margin-left: 10%;
    margin-bottom: 0px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ced0d0;
    padding: 3px 10px;
}
form label{
    margin: 0px 0px 5px 10%;
    color: #1D5371;
}

/*Empleado*/
#modalCrearEmpleado{
    display: none;
}
#modalEditarEmpleado{
    display: none;
}
#modalEliminarEmpleado{
    display: block; 
}
/*Departamento*/
#modalCrearDepto{
    display: none;
}
#modalEditarDepto{
    display: none;
}
#modalEliminarDepto{
    display: none;
}
#modalCrearMinuta{
    display: none;
}
#modalEditarMinuta{
    display: none;
}
#modalEliminarMinuta{
    display: none;
}
#modalIAMinuta{
    display: none;
}

#modalCrearMinuta.active{
    display: block;
}

#modalCrearMiuta input.material-icons{
   
}



/*eliminar selo agg jejej*/
.botonesForm{
    border-radius: 10px;
}
.botonesForm label{
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    text-align: center;
}
.botonesForm input{
    width: 20vw;
    margin: 20px auto;
    background-color: #185C53;
    color: white;
}
.buttons{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-bottom: 10px;}

.buttons input[type="button"]{
    background-color: #185C53;
    color: white;
    border: none;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    margin: 0 0px;
    max-width: 200px;
    padding: 7px;
}


/*titulo en los modales*/
form h3{
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
    color: white;
    height: 7vh;
    background: linear-gradient(to right, #1D5371,#185C53);
}
form label {
    display: block;
    font-weight: bold;
    margin-top: 30px;
    color: #11384d;
}
textarea{
    width: 80%;
    height: 80px;
    margin: 10px auto;
    display: block;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ced0d0;
    background-color: #D9D9D9;
    text-align: left;
}

input[type="search"] {
    width: 60%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ced0d0;
    border-radius: 5px;
}





#perfil{
    width: 100%;
    padding: vh 10vw;
}
#perfil h3{
    padding: 3vh 10vw;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    background: none;
    color: #11384d;
    box-shadow: 0px 3px 5px #bbbbbb;
}
 a{
    text-decoration: none;
    color: #11384d;
}
#perfil [type="button"]{
    background-color:darkred;
    color: white;
    width: auto;
    margin-top: 5vh;
}

/*crearminuta*/
#verMinuta{
    background-color: #11384d;
    width: 100vw;
}
#modalCrearMinuta form, #modalEditarMinuta form{
    height: auto;
    display: block;
}
form li{
    margin: 2vh 10vw;
    color: #333;
    font-size: 13px;
    list-style:none;
    border-bottom: #bbbbbb 1px solid;
    display: flex;
    justify-content: space-between;
}
li button{
    border: none;
    font-size: 12px;
    background-color: transparent;
    color: darkred;
    visibility: hidden;
}
#modalCrearMinuta li:hover, #modalEditarMinuta li:hover{
    background-color:#bbbbbb29;
}
#modalCrearMinuta li:hover button, #modalEditarMinuta li:hover button{
    visibility: visible;
}
#modalCrearMinuta div, #modalEditarMinuta div{
    margin: 50px 25px;
    width: 80%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 8vh;
}
/*cuidaoo*/
#modalCrearMinuta div label, #modalEditarMinuta div label{
    width: 30%;
    display: flex;
}
#modalCrearMinuta input[class="material-icons"],#modalEditarMinuta input[class="material-icons"]{
    background-color: #185C53;
    width: 4vw;
    padding: 0;
    height: 4vh;
    color: white;
    margin: 0 0 0 25px;
    cursor: pointer;
    border-radius: 30px;
}
#modalCrearMinuta .buttons, #modalEditarMinuta .buttons{
    width: 30%;
    margin: 30px;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 10vh;
        left: -100%;
        width: 40%;
       
    }
    .sidebar.active {
        left: 0;
        width: 40%;
    }
    main {
        overflow-x: hidden;
        width: 100%;
    }
    .minutas-list {
        transition: all 0.2s;
        min-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 100%;

    }
    .minutas{
        height: 100%;
    }
    .minutas-list.inactive {
        width: 0;
        min-width: 0;
    }

    .minuta-content {
        
        min-width: 100%;
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        
    }
    .modal form{

        width: 90%;
    }
    .modal form div{
        width: 100%;
        
    }
    #modalCrearMinuta input[class="material-icons"],#modalEditarMinuta input[class="material-icons"]{
        width: auto;
        height: auto;
        padding: 2px;
        margin: 0 0 0 10px;
    }
    #modalCrearMinuta .buttons, #modalEditarMinuta .buttons{
        margin: 5px;
    }

    /*chechkboxxxxxx*/
    
    input[type="checkbox"]{
        width: 15px;
    }

    /*IA*/
    #modalIAMinuta form{
        width: 90% !important;
    }
    #modalIAMinuta div{
        width: 100% !important;
        margin: 30px 0 0 0;
    }
    #modalIAMinuta input[class="material-icons"]{
        width: 10vw !important;
    }
    #modalIAMinuta .buttons input{
        width: 20vw !important;
    }}


    
}


#opciones input{
    width: 10%;
}
#opciones input:hover{
    background-color: #185C53;
    cursor: pointer;
    color: white;
}
input[type="checkbox"]{
    height: 20px;
}


#login{
     width: 100%;
     height: 100vh;
     background: linear-gradient(to right, #1D5371,#185C53);
}
#login div{
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #0e3a35;
    padding: 10px 0;
    background-color: #9dacaa30;
}
#login h2{
    text-align: center;
    translate: 0 -60px;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 1px 1px #0e3a35;
}
#login img{
    height: 20vh;
    translate: 150px -90px;
}
#login form{
    padding: 0 0 20px 0;
    height: 20vh;
}
#login input{
    translate: 0 -40px;
    margin-top: 20px;
    border: none;
}
#login input[type="button"]:hover{
    background-color: #0e3a35;
    color: white;
    cursor: pointer;
}

#modalIAMinuta form{
    width: 40%;
}
#modalIAMinuta div{
    width: 50%;
    margin: 30px 0 0 0;
}
#modalIAMinuta label{
    display: inline-flex;
    width: 55%;
}
#modalIAMinuta input[class="material-icons"]{
    background-color: white;
    width: 3vw;
    cursor: pointer;
    box-shadow: 1px 2px #CDCBCB;
}
#modalIAMinuta textarea{
    height: 20vh;
}
#modalIAMinuta .buttons{
    display: flex;
    margin: 30px;
    width: 100%;
}
#modalIAMinuta .buttons input{
    width: 5vw;
    line-height: 2px;
    background-color: #0e3a35;
    justify-content: space-between;
}





/*Mensajes de Confirmacion*/

.toast-msg {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #185C53;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 999;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.3s ease-in-out;
}

    .toast-msg.error {
        background-color: darkred;
    }

    .toast-msg.success {
        background-color: #185C53;
    }

    .toast-msg .close-toast {
        background: none;
        border: none;
        color: white;
        font-size: 18px;
        cursor: pointer;
        padding: 0;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}